html{
    height: 100vh;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    background:repeating-linear-gradient( rgb(63, 63, 204), rgb(165, 48, 165), skyblue);
    background-repeat: repeat-x;
}
#name{
    width: auto;
    margin: auto;
}

#top{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    margin: 5px auto;
    padding: 5px;
    text-align: center;
    color: rgb(203, 223, 25);
    letter-spacing: 2px;
}


#container{
    width: 1000px;
    height: 550px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(bgImg.jpg);
    margin: 50px auto;
}

#calculator{
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 15px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#result{
    height: 120px;
}
#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}
#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

#keyboard{
    height: 400px;
}

.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

.number, .empty{
    background-color: #eaedef;
}
.operator{
    background-color: #dad5d5;
}
.number, .operator{
    cursor: pointer;
}
.number:active, .operator:active{
    font-size: 13px;
}
/* .number:hover{
    background-color: aquamarine;
} */
.number:focus, .empty:focus, .operator:focus{
    outline: 0;
}

button:nth-child(4){
    font-size: 20px;
    background-color: #20b2aa;
}
button:nth-child(8){
    font-size: 20px;
    background-color: #ffa500;
}
button:nth-child(12){
    font-size: 20px;
    background-color: #f08080;
}
button:nth-child(16){
    font-size: 20px;
    background-color: #7d93e0;
}
button:nth-child(20){
    font-size: 20px;
    background-color: #9477af;
}